//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 12px;
  outline: none;
  height: 39px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #565656;

  &::placeholder {
    color: #e0dcdc;
  }

  &._form-focus {
    box-shadow: 0px 0px 0px 1px #d6d6d6;
  }

  &._form-error {
  }
}

.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
